.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
# Exclude devDependencies but keep runtime dependencies
node_modules/@types/**
node_modules/typescript/**
**/.DS_Store
../**
