.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
# Webpack bundles everything, so exclude all node_modules
node_modules/**
# Exclude webpack config and other build files
webpack.config.js
**/.DS_Store
../**
